<meta http-equiv="X-Frame-Options" content="allow">
<div class="h-100 row justify-content-around align-items-center" style="margin-top: 10px">
  <mat-card>
    <mat-card-title>
      Video
    </mat-card-title>

    <mat-card-content>
      <iframe class="vertical-center-row" type="text/html" width="853" height="480" [src]="targetUrl | safe" frameborder="0" allowFullScreen></iframe>
      
    </mat-card-content>
    <mat-card-actions >
      <button mat-button color="primary" style="margin-left: 50%; transform: translateX(-50%)" (click)="shuffle()">Shuffle</button>
    </mat-card-actions>
  </mat-card>
</div>